COMPOSE_PROJECT_NAME=jahan-academy
NGINX_PORT=8080
POSTGRES_DB=jahan_academy
POSTGRES_USER=jahan
POSTGRES_PASSWORD=jahan_local_change_me
REDIS_PASSWORD=redis_local_change_me
JAHAN_SESSION_SECRET=local-only-change-me-at-least-32-characters
